.category{
    margin-top: -150px;
    z-index: 100;
    position: relative;
}
.category .card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.category-item img{
    height: 100px;
}
.category-item:hover{
    color: rgb(25, 25, 195);
}